<dom-module id="CompareMultipleSeries" theme-for="vaadin-chart">
    <template>
        <style>
            :host(.CompareMultipleSeries) .highcharts-color-0 {
                stroke: #3090F0;
            }
            :host(.CompareMultipleSeries) .highcharts-color-1 {
                stroke: #ec6464;
            }
            :host(.CompareMultipleSeries) .highcharts-color-2 {
                stroke: #98df58;
            }

            :host(.CompareMultipleSeries) .highcharts-color-3 {
                stroke: #222222;
            }

        </style>
    </template>
</dom-module>